{% extends 'adminLayout.html.twig' %}

{% block title %}Hello PostController!
{% endblock %}

{% block body %}
	<div class="example-wrapper">
		<div class="form-container">
			<h1>Edit Post</h1>
			{{ form_start(form) }}
			<div class="row">
				{{ form_label(form.title) }}
				{{ form_widget(form.title) }}
			</div>
			<div class="row">
				{{ form_label(form.summary) }}
				{{ form_widget(form.summary) }}
			</div>
			<div class="row">
				{{ form_label(form.content) }}
				{{ form_widget(form.content) }}
			</div>
			<div class="row">
				{{ form_label(form.tags) }}
				{{ form_widget(form.tags) }}
			</div>
			<button type="submit" class="btn btn-create">Edit</button>
			{{ form_end(form) }}
		</div>
	</div>
{% endblock %}
